.info_panel{
  position: absolute;
  right: -375px;
  top: 0;
  width: 345px;
  height: calc(100% - 30px);
  padding: 15px;
  border-left: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  overflow-y: auto;
  transition: right 0.4s ease-out;
}
.info_name{
  position: relative;
  width: calc(100% - 15px);
  font-size: 22px;
  color: white;
  word-wrap: break-word;
}
.info_panel>div:nth-child(n+3){
  position: relative;
  font-size: 14px;
  margin-top: 15px;
  letter-spacing: 0.8px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.close_info_panel{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 10px 10px 6px 8px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease-out;
  cursor: pointer;
  z-index: 2;
  &:hover{
    background-color: rgba(255, 255, 255, 0.25);
  }
}
.info_tags{
  display: flex;
  align-items: flex-start;
}
.info_tags>.heading{
  position: relative;
  width: 40px;
  top: 3px;
}
.info_tag_list{
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  top: -5px;
}
.info_tag{
  position: relative;
  width: fit-content;
  padding: 3px 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
}
.info_chapters{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.info_chapter_name{
  font-size: 16px;
  font-weight: bold;
  color: rgb(165, 193, 253);
  cursor: pointer;
}
.info_sd{
  font-size: 18px !important;
  font-weight: bold;
  color: chartreuse;
  margin-top: 35px !important;
}
