.organize_view{
  position: absolute;
  right: 0;
  top: 100%;
  width: calc(35% - 30px);
  max-width: 375px;
  height: calc(100% - 30px);
  padding: 15px;
  border-left: 1px solid white;
}
.add_tags{
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
}
#add_tag_input{
  position: relative;
  flex: 1;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid white;
  outline: none;
  background: none;
  border-left: none;
  border-right: none;
  caret-color: white;
  font-size: 18px;
  color: white;
}
.tag_type{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: rgb(85, 118, 190);
  border: 1px solid rgb(85, 118, 190);
  cursor: pointer;
  font-size: 12px;
  color: white;
}
.tags{
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 120px;
  max-height: 250px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  &>div{
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 250px;
    padding: 3px 5px;
    margin: 5px 3px 0 3px;
    cursor: pointer;
  }
  &>div:hover{
    opacity: 0.8;
  }
}
.common_tag{
  background-color: rgb(85, 118, 190);
}
.special_tag{
  background-color: rgb(221, 34, 50);
}
.char_tag{
  background-color: rgb(181, 184, 6);
}
.tag_update_record{
  position: relative;
  margin-top: 15px;
  width: calc(100% - 10px);
  height: calc(200px - 16px);
  display: block;
  border: 2px dashed rgb(122, 245, 122);
  padding: 8px 5px;
  overflow-y: auto;
}
.empty_record{
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty_record>span{
  width: 90%;
  text-align: center;
  cursor: default;
  font-size: 16px;
  color: rgb(122, 245, 122);
}
.horizontal_divider{
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: calc(50% - 5px);
  background-color: white;
  margin: 15px 0;
  &::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -10px;
    top: 3px;
    background-color: white;
  }
  &::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -10px;
    top: 3px;
    background-color: white;
  }
}
