.organize_panel{
  position: absolute;
  width: 375px;
  height: 100%;
  right: 0;
  border-left: 1px solid white;
  transition: right 0.4s ease-out;
}
.organize_panel_content{
  position: relative;
  width: 355px;
  height: calc(100% - 20px);
  padding: 10px;
}
.horizontal_divider{
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: calc(50% - 5px);
  background-color: white;
  margin: 15px 0;
  &::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -10px;
    top: 3px;
    background-color: white;
  }
  &::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -10px;
    top: 3px;
    background-color: white;
  }
}
